@font-face {
  font-family: myFirstFont;
  src: url(/assets/font/AvenirNext-Regular.ttf);
  font-family: AvenirNext-Regular;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: AvenirNext-Regular;
  font-weight: 600;
  color: white;
}

.nav-grid-container {
  display: grid;
  background: rgb(28, 28, 28);
  width: 100%;
  height: 100px;
  grid-template-rows: 4fr 10fr;
  grid-template-columns: 1fr;
  padding: 0 13%;
}

.sub-nav {
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
}

.sub-nav .sub-nav-flex > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.sub-nav .sub-nav-flex > ul > li > a {
  font-family: 'Prompt', sans-serif;
  font-size: 11px;
  padding: 0 10px;
}

.sub-nav .sub-nav-flex > ul > li > a > span {
  color: #ffa028;
}

.main-nav {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav .main-nav-left > h2 {
  font-weight: 900;
  font-size: 2.3rem;
}
.main-nav-right > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-nav-right > ul > li > a {
  font-size: 14px;
  margin-left: 15px;
  padding: 7px 0;
}
.main-nav-right > ul > li > a:hover,
.main-nav-right > ul > li > a:hover > i {
  color: #999;
}

.main-nav-right > ul > li > .magnifying-glass {
  border: 1px solid white;
  padding: 6px 8px;
  border-radius: 4px;
}

#subscribe {
  padding: 6px 14px;
  border: 1px solid white;
  border-radius: 4px;
  color: black;
  background: white;
}

main {
  background: rgb(62, 211, 3);
  width: 100%;
  height: 100vh;
}

main > .content {
  width: 73%;
  height: inherit;
  background: #ffa028;
  margin: 0 auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
